{% extends 'base.html' %}

{% block title %}
    Pomodoro
{% endblock %}

{% block main %}
    <div class="timer-display">
        <span class="timer">25:00</span>
    </div>
    <div class="interval-container">
        <span class="interval"></span>
    </div>
    <div class="button-container">
        <div class="start-button">
            <button type="button" class="btn btn-success">Start</button>
        </div>
        <div class="stop-button">
            <button type="button" class="btn btn-danger">Stop</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/pomodoro.js') }}"></script>
{% endblock %}