<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

        <title>{% block title %}{% endblock %}</title>
        
    </head>

    <body>
        <nav>
            <h1>Productivitizer</h1>
            <ul>
                {% if g.user %}
                    <li>{{ g.user['username'] }}</li>
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>

        <header>
            {% block header %}{% endblock %}
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            <p>Productivitizer &#169; 2024</p>
        </footer>

        <!-- JavaScript -->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    </body>
</html>