/* Responsive styles */
@media only screen and (max-width: 768px) {
    /* Adjust column layout for smaller screens */
    .col {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    /* Increase spacing between tasks on mobile */
    .card-body {
        margin-bottom: 10px;
    }

    /* Increase font size for better readability */
    .form-control {
        font-size: 16px;
    }
}

/* Overall style */
.card-header {
    user-select: none;
}

.delete-task-btn, .update-task-btn {
    user-select: none;
    text-decoration: none;
}