{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/kanban.css') }}">
{% endblock %}

{% block title %}
    Kanban board
{% endblock %}

{% block main %}
<div class="container">
    <div class="row"> 

        <!-- Todo -->
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white">Todo</div>
                <div class="card-body" id="taskTodo">
                    <!-- Todo tasks -->
                </div>
                <div class="card-body dropdown mx-auto">
                    <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                      + Add task
                    </button>
                    <form class="dropdown-menu p-3">
                      <div class="mb-2">
                        <input type="text" class="form-control" id="taskTitle" placeholder="Task Title">
                      </div>
                      <div class="mb-2">
                        <input type="text" class="form-control" id="taskDescription" placeholder="Description">
                      </div>
                      <button type="submit" class="btn btn-primary">Create task</button>
                    </form>
                  </div>
            </div>
        </div>

        <!-- Doing -->
        <div class="col">
            <div class="card">
                <div class="card-header bg-warning">Doing</div>
                <div class="card-body" id="taskDoing">
                    <!-- Doing tasks -->
                </div>
                <div class="card-body mx-auto" id="addTaskToDo">
                    <button class="btn btn-primary">+ Add Task</button>
                </div>
            </div>
        </div>

        <!-- Done -->
        <div class="col">
            <div class="card">
                <div class="card-header bg-success text-white">Done</div>
                <div class="card-body" id="taskDone">
                    <!-- Done tasks -->
                </div>
                <div class="card-body mx-auto" id="addTaskToDo">
                    <button class="btn btn-primary">+ Add Task</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="{{ url_for('static', filename='js/kanban/kanban_request.js') }}"></script>
<script src="{{ url_for('static', filename='js/kanban/kanban_ui.js') }}"></script>
{% endblock %}
