/* Responsive styles */
@media only screen and (max-width: 768px) {
    /* Adjust column layout for smaller screens */
    .col {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    /* Make card body responsive */
    .card {
        width: 100%;
    }

    /* Ensure consistent width for all columns */
    .card-body {
        width: 100%;
        min-width: 200px;
    }
}

/* Overall style */
.card-header {
    user-select: none;
    width: 100%;
}

.delete-task-btn, .update-task-btn {
    user-select: none;
    text-decoration: none;
    width: 100%;
}