{% extends 'base.html' %}

{% block title %}
    {% block header %}Log in{% endblock %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block main %}
    <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button class="btn btn-primary" type="submit">Log in</button>
    </form>
{% endblock %}