.container-chart {
    text-align: center;
}

canvas#pie-chart {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.container {
    margin-top: 50px;
}

#expenseForm {
    margin-bottom: 20px;
}

.table {
    margin-top: 20px;
}

.table thead th {
    text-align: center;
}

.table tfoot td {
    text-align: center;
    font-weight: bold;
}

.delete-expense-btn {
    text-decoration: none;
    border: none;
    background: none; 
    cursor: pointer; 
}

/* Style the delete icon */
.delete-icon {
    width: 32px;
}

